use flake

dotenv_if_exists .secret.envrc

export PC_CONFIG_FILES="$PWD/.services/process-compose/process-compose.yaml"

export MIX_OS_DEPS_COMPILE_PARTITION_COUNT=$(($(nproc) / 2))
export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_file_bytes 1024000"
