<.flash_group flash={@flash} />
<main class="container">
  <hgroup>
    <h1>Tracker</h1>
    <p>Package tracking for Nixpkgs channels.</p>
  </hgroup>

  <p>
    <a href={~p"/packages"} role="button">Browse Packages</a>
  </p>
</main>
