<header class="container">
  <nav>
    <ul>
      <li>
        <a href="/">
          <strong>Tracker</strong>
        </a>
      </li>
    </ul>
    <ul>
      <%= if @current_user do %>
        <li>Hello, {@current_user.github_username}!</li>
      <% else %>
        <li><.link navigate={~p"/sign-in"}>Sign in</.link></li>
      <% end %>
    </ul>
  </nav>
</header>
<main class="container">
  <.flash_group flash={@flash} />
  {@inner_content}
</main>
